@font-face {
	font-family: 'SpaceGrotesk';
	src: url('./assets/fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

:root {
	/* Base font size */
	font-size: 16px; /* Default root size for rem calculations */
  
	/* Colors */
	--color-black: #000000;
	--color-dark-purple: #5C2DD5;
	--color-light-purple: #7945FF;
	--color-pink: #FD6887;
	--color-yellow: #FFCE67;
	--color-white: #FFFFFF;
  
	/* Typography */
	--font-family: 'Space Grotesk', sans-serif;
  
	/* Font Sizes (in rem) */
	--font-size-heading-l: 3.5rem; /* 56px / 16 = 3.5 */
	--font-size-heading-m: 1.5rem; /* 24px / 16 = 1.5 */
	--font-size-heading-s: 1.25rem; /* 20px / 16 = 1.25 */
	--font-size-heading-xs: 1rem; /* 16px / 16 = 1 */
	--font-size-body: 1rem; /* 16px / 16 = 1 */
  
	/* Line Heights (in rem) */
	--line-height-heading-l: 4.4375rem; /* 71px / 16 = 4.4375 */
	--line-height-heading-m: 1.9375rem; /* 31px / 16 = 1.9375 */
	--line-height-heading-s: 1.625rem; /* 26px / 16 = 1.625 */
	--line-height-heading-xs: 1.3125rem; /* 21px / 16 = 1.3125 */
	--line-height-body: 1.3125rem; /* 21px / 16 = 1.3125 */
  
	/* Font Weights */
	--font-weight-bold: 700; /* Bold */
	--font-weight-medium: 500; /* Medium */
}

h1 {
	font-family: var(--font-family);
	font-size: var(--font-size-heading-l);
	line-height: var(--line-height-heading-l);
	font-weight: var(--font-weight-bold);
}

h2 {
	font-family: var(--font-family);
	font-size: var(--font-size-heading-m);
	line-height: var(--line-height-heading-m);
	font-weight: var(--font-weight-bold);
}

p {
	font-family: var(--font-family);
	font-size: var(--font-size-body);
	line-height: var(--line-height-body);
	font-weight: var(--font-weight-medium);
}

body {
  font-family: 'SpaceGrotesk', sans-serif;
}

html, body, #root, .App {
	height: 100%;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

body {
	background-color: var(--color-light-purple);
	margin: 0;
    padding: 0;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
